@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

ul li:before {
  content: "✓";
  margin-right: 10px;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 8vh;
  min-height: 70px;
  padding: 16px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
header h1 {
  font-size: 2em;
  font-weight: 500;
}
header h1 span {
  font-weight: 600;
  color: #c0392b;
}
header nav {
  width: calc(15% + 50px);
  display: flex;
  justify-content: space-around;
}
header nav a {
  transition: background 0.3s ease-in-out, color 0.5s ease-in-out;
  background-size: 0 100%;
  padding: 0 4px;
  padding-bottom: 10px;
}
header nav a:hover, header nav a.active {
  color: #c0392b;
  background: linear-gradient(to top, #c0392b 0%, #c0392b 2px, transparent 3px) no-repeat;
  background-size: 100% 100%;
}

#home {
  height: 100vh;
  min-height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/desktop.webp");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: 0px 0px 1px #c0392b;
  box-shadow: 0px 1px 15px #fff;
}
#home h2 {
  color: #c0392b;
  font-size: 2.6em;
  font-weight: 800;
  margin-bottom: 20px;
}
#home h3 {
  margin-bottom: 20px;
}
#home h3 span {
  opacity: 0;
}
#home button {
  background-color: #c0392b;
  border: 2px solid black;
  border-radius: 0.5em;
  color: #fff;
  padding: 10px;
  font-size: 1.3em;
  cursor: pointer;
}

#projects {
  position: relative;
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 80px 0;
  padding-bottom: 150px;
}
#projects h2 {
  color: #c0392b;
  font-size: 2.6em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 200px;
}
#projects .ligne {
  height: 1000px;
  width: 8px;
  margin: 0 auto;
  background: #333;
}
#projects .rond {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .rond img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#projects .r1 {
  top: 330px;
}
#projects .r2 {
  top: 656px;
}
#projects .r3 {
  top: 962px;
}
#projects .r4 {
  top: 1260px;
}
#projects .box {
  color: #333;
  max-width: 400px;
  width: auto;
  min-height: 200px;
  height: auto;
  background: #f1f1f1;
  border-radius: 1em;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #c0392b;
}
#projects .box .content {
  padding: 0 20px;
  padding-bottom: 20px;
}
#projects .box h3 {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 10px;
}
#projects .box ul {
  padding-bottom: 20px;
}
#projects .box video {
  border-radius: 1em 1em 0 0;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#projects .box .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#projects .box .buttons input[type=button] {
  background: #c0392b;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
}
#projects .box .buttons input[type=button].disactivated {
  background: rgba(192, 58, 43, 0.3843137255);
  cursor: not-allowed;
}
#projects .b1 {
  top: 330px;
  left: calc(50% + 270px);
}
#projects .b2 {
  top: 656px;
  left: calc(50% - 270px);
}
#projects .b3 {
  top: 962px;
  left: calc(50% + 270px);
}
#projects .b4 {
  top: 1260px;
  left: calc(50% - 270px);
}
@media screen and (max-width: 1000px) {
  #projects {
    height: 2500px;
  }
  #projects .ligne {
    position: relative;
    left: 40%;
    display: none;
  }
  #projects .rond {
    opacity: 0;
  }
  #projects .b1,
#projects .r1 {
    top: 8%;
  }
  #projects .b2,
#projects .r2 {
    top: 30.5%;
  }
  #projects .b3,
#projects .r3 {
    top: 53.5%;
  }
  #projects .b4,
#projects .r4 {
    top: 75.5%;
  }
  #projects .box {
    left: 50%;
    max-width: 60%;
    width: 60%;
  }
}

#skills {
  min-height: 100vh;
}

#contact {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  color: #fff;
}
#contact h2 {
  color: #c0392b;
  font-size: 2.6em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 80px;
}
#contact .form-div {
  display: flex;
  justify-content: space-around;
}
#contact .form-div form {
  display: flex;
  flex-direction: column;
}
#contact .form-div form .message {
  width: 200px;
}
#contact .form-div form input:focus {
  outline: #333;
}
#contact .form-div form input:not([type=submit]) {
  margin-bottom: 20px;
}
#contact .form-div form input[type=submit] {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
